.background {
    -fx-background-color: #1d1d1d;
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffffbd;
    -fx-font-family: "Segoe WP";
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1.5 );
}

.subtitleLabel{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.titleLabel{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.infoLabel{
    -fx-font-style: italic;
}
.checkbox{
    -fx-font-size: 14px;
    -fx-text-fill: #ffffffbd;
    -fx-font-family: "Segoe WP";
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1.5 );
}

.pane{
    -fx-background-color:  #ffffff44;
}
.pane1{
    -fx-background-color:  #ffffff44;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 10 15 10 15;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}